<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :facebook_id %>&nbsp;<span>(Go to <a target="_blank" href="http://findmyfbid.com">findmyfbid.com</a> and enter the Facebook username to get the id)</span><br>
    <%= f.text_field :facebook_id %>
  </div>
  <div class="field">
    <%= f.label 'Goalie?' %><br>
    <%= f.check_box :is_goalie %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-info'%>
  </div>
<% end %>
