<div id="players-container">
  <p id="notice"><%= notice %></p>
  <div class="btn-container">
    <%= button_to 'New Player', new_player_path, :class => 'btn btn-info', :method => :get %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th style="width:75px;"></th>
        <th>Name</th>
        <th class="center">Last Active</th>
        <th class="center">Goalie?</th>
        <th class="center">Avg Rating</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @players.each do |player| %>
        <tr>
          <td><img src="<%= @player_image_urls[player.id] %>"></img></td>
          <td><%= link_to player.name, player %></td>
          <td class="center"><%= player.last_active %></td>
          <td class="center">
            <% if player.is_goalie %>
            &#10004;
            <% end %>
          </td>
          <td class="center"><%= number_with_precision(player.avg_player_rating, :precision => 1) %></td>
          <td><%= link_to 'View', player %></td>
          <td><%= link_to 'Edit', edit_player_path(player) %></td>
          <td><%= link_to 'Delete', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>  
</div>
