<div id="player-container">
	<div class="picture-xl">
		<img src="<%= @profile_picture %>"></img>
	</div>
	<h1><%= @player.name %></h1>
	<p>
	  <strong>Last Active:</strong>
	  <%= @player.last_active %>
	</p>

	<p>
	  <strong>Is goalie:</strong>
	  <%= @player.is_goalie %>
	</p>

	<canvas id="rating-placeholder"></canvas>

	<% unless @player.histories.empty? %>
		<h4>Rating Changes</h3>
		<table class="table table-striped">
			<thead>
				<th>Admin</th>
				<th>Old Rating</th>
				<th>New Rating</th>
				<th>Date Changed</th>
			</thead>
			<tbody>
				<% @player.histories.each do | rating | %>
					<tr>
						<td><%= rating.user.name %></td>
						<td><%= rating.old_rating %></td>
						<td><%= rating.new_rating %></td>
						<td><%= rating.created_at.strftime("%A, %d %b %Y") %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>

	<%= link_to 'Edit', edit_player_path(@player) %> |
	<%= link_to 'Back', players_path %>

	<script>
		var ratings = new Array();
		<% @player.ratings.each do | rating | %>
		var rating = new Object();
		rating.rating = '<%= rating.rating %>';
		rating.ratee = '<%= rating.user.name %>';
		ratings.push(rating);
		<% end %>
		console.log(ratings);
		generateRatingCircles();
	</script>
</div>
