<!DOCTYPE html>
<html>
	<head>
	  <title>Expat</title>
	  <link href="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css" rel="stylesheet">
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
	  <%= render "layouts/head" %>
	   <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div id="user-widget">
			<%= render "layouts/header" %>
			<% if current_user %>
				<% if is_admin %>
					<%= yield %>
				<% else %>
					<div class="alert alert-danger" role="alert">
						<strong>Oh Dear!</strong> It would appear you are not an admin of the Expat group.
					</div>
				<% end %>
			<% else %>
			    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
			<% end %>
		 </div>
	</body>
</html>
